@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;

}
.taco-picture {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
.taco-pic0 { grid-area: 1 / 1 / 2 / 2; }
.taco-pic1 { grid-area: 1 / 2 / 2 / 3; }
.taco-pic2 { grid-area: 1 / 3 / 2 / 4; }
.taco-pic3 { grid-area: 1 / 4 / 2 / 5; }
.taco-pic4 { grid-area: 2 / 1 / 3 / 2; }
main {
    padding: 16px;

}
a {
    text-decoration: none;
    
}
footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;

}

img {
    height: 200px;

}

nav {
    border-bottom: 1px;
    padding: 16px;
}
